@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Lilita one", sans-serif;
}

html{
  /* 1rem = 10px */
  font-size: 62.5%; 
}

